@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
}
.custom-date-picker {
    color: white; /* Text color */
    background-color: #111523; /* Background color */
}

/* Adjusting color for different states */
.custom-date-picker::-webkit-calendar-picker-indicator {
    filter: invert(100%); /* Makes the calendar icon white */
}
.custom-date-picker:focus {
    outline: none; /* Remove outline on focus */
    box-shadow: 0 0 5px white; /* Optional: Add a white glow effect on focus */
}
/* input of number increasing and decreasnig */
input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
.background{
    background-image: url(https://img.freepik.com/free-photo/abstract-dark-blurred-background-smooth-gradient-texture-color-shiny-bright-website-pattern-banner-header-sidebar-graphic-art-image_1258-85524.jpg);
  border: 2px solid black;
  object-fit:cover;
}

    /* input[type=number] {
        -moz-appearance: textfield;
    } */
